<!DOCTYPE html>
<html lang="nl" ng-app="tafelsApp">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Tafels oefenen voor kinderen van groep 4, groep 5 of groep 6.">
        <meta name="author" content="Henk Burgstra">
	    <link href="bootstrap.min.css" rel="stylesheet">
		<link href="tafels.css" rel="stylesheet">
		<script type="text/javascript" src="angular.min.js"></script>
  		<script type="text/javascript" src="tafels.js"></script>
		<title>Tafels oefenen</title>
	</head>
	<body ng-controller="TafelsCtrl">
		<audio id="succesgeluid">
		    <source src="succes.mp3" type="audio/mpeg" />
		</audio>
		<audio id="foutgeluid">
		    <source src="fout.mp3" type="audio/mpeg" />
		</audio>
		<div class="container" id="container-selectie" ng-show="!gestart">
			<div class="jumbotron">
				<h1>Welke tafels wil je oefenen?</h1>
				<div id="selectie">
					<h2 ng-repeat="tafel in tafels">
						<span class="label label-danger">
							<label>
								<input 
									type="checkbox" 
									value="{{tafel}}" 
									ng-checked="gekozenTafels.indexOf(tafel) > -1" 
									ng-click="selecteerTafel(tafel)"> {{tafel}}
							</label>
						</span>
					</h2>
				</div>
				<div>
					<input type="text" id="bedenktijd" ng-model="bedenktijd"> seconden bedenktijd
					<button id="start" type="button" class="btn btn-primary btn-lg" ng-click="start()">Start!</button>
				</div>
			</div>
		</div>
		<div class="container" ng-show="gestart">
			<div id="oefening" class="jumbotron">
				<div id="counter"><div>{{counter}}</div></div>
				<div id="som">
					<h2>
						<span class="label label-danger">{{vermenigvuldigtal}}</span> 
						<span class="label label-default">x</span>
						<span class="label label-danger">{{vermenigvuldiger}}</span> 
						<span class="label label-default">=</span>
						<span id="antwoord" class="label {{antwoordClass}}">{{antwoord}}</span>
						<span class="label label-success" ng-show="toonCorrectAntwoord">{{correctAntwoord}}</span>
					</h2>
				</div>
				<div id="antwoordknoppen">
					<button 
						type="button" 
						ng-repeat="antwoord in mogelijkeAntwoorden" 
						class="btn btn-primary btn-lg" 
						value="{{antwoord}}"
						ng-click="gekozenAntwoord(antwoord)"
                        ng-disabled="!magAntwoorden">{{antwoord}}</button>
				</div>
				<button 
					type="button" 
					class="btn btn-success bnt-lg" 
					ng-click="andereTafels()">Andere tafels oefenen</button>
				<button
					type="button"
					class="btn btn-success bnt-lg"
					ng-click="pauze()">{{pauzetekst}}</button>
				<div id="resultaten">
					Aantal geoefend: <b>{{aantalSommen}}</b> | goed: <b>{{aantalGoed}}</b> | fout: <b>{{aantalFout}}</b>
				</div>
			</div>
		</div>
        <div id="contact">
            <a href="https://github.com/henkburgstra/tafels/wiki">Help</a> | Vragen of opmerkingen? <a href="mailto:henk.burgstra@gmail.com">henk.burgstra@gmail.com</a>
        </div>
	</body>
</html>
