.jumbotron {
	margin-top: 30px;
}
.jumbotron h1 {
	font-size: 38px;
	margin-bottom: 30px;
}
#selectie h2 {
	display: inline-block;
}
#counter {
	text-align: right;
}
#counter div {
	display: inline-block;
	padding: 10px 10px;
	color: red;
	font-size: 2rem;
	border: 1px solid red;
	font-weight: bold;
}
#selectie, #som {
	margin-bottom: 40px;
}
#antwoordknoppen .btn {
	margin-right: 5px;
	margin-bottom: 40px;
	font-size: 24px;
}
#resultaten {
	margin-top: 40px;
	text-align: right;
}
#bedenktijd {
	width: 30px;
}
#start {
	margin-left: 40px;
}